<strong>Dear {{deliveryman}},</strong>
<p>One of your deliveries has been canceled, check the information below:</p>
<p>
  <strong>Recipient: </strong> {{name}} <br />
  <strong>Product: </strong> {{product}} <br />
  <strong>Cancellation date: </strong> {{canceled_at}} <br />
  <br />
  <strong>Address: </strong> <br />
  <strong>Street: </strong> {{street}} <br />
  <strong>Number: </strong> {{number}} <br />
  <strong>Complement: </strong> {{complement}} <br />
  <strong>State: </strong> {{state}} <br />
  <strong>City: </strong> {{city}} <br />
  <strong>Zip_code: </strong> {{zip_code}} <br />
  <br />
  <small>
    Any questions contact us.
  </small>
</p>
