<strong>Dear {{deliveryman}},</strong>
<p>You have a new delivery, check the information below:</p>
<p>
  <strong>Recipient: </strong> {{name}} <br />
  <strong>Product: </strong> {{product}} <br />
  <strong>Street: </strong> {{street}} <br />
  <strong>Number: </strong> {{number}} <br />
  <strong>Complement: </strong> {{complement}} <br />
  <strong>State: </strong> {{state}} <br />
  <strong>City: </strong> {{city}} <br />
  <strong>Zip_code: </strong> {{zip_code}} <br />
  <br />
  <small>
    We kindly advise you that the withdrawal of products is only available between 08:00 to 18:00.
  </small>
</p>
